@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

#logo{
    height: 54px;
    width: 180px;
}

.header {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
    padding-top: 16px;
    margin: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header, .part1 {
    background-color: #1F2937;
    flex-wrap: wrap;
}

.part1{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#hero {
    font-size: 48px;
    margin-bottom: 0;
    font-weight: bolder;
}

.part1 p{
    max-width: 400px;
    margin-top: 0;
    color: #E5E7EB;
    font-size: 18px;
}

.part1 div {
    text-align: left;
}

.part2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 75px;
    flex-wrap: wrap;
}

.part2 a {
    color: black;
}

.info {
    max-width: 150px;
    max-height: 150px;
}

.info img {
    width: 150px;
    height: 112.500px;
    border-radius: 7px;
}

#info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.part3 {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    flex-wrap: wrap;
}

.part3 #quote {
    max-width: 400px;
    text-align: left;
    font-size: 36px;
    font-weight: lighter;
}

#name {
    align-self: flex-end;
}

.part4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 170px 50px 170px;
    align-items: center;
    background-color: #3882F6;
    border-radius: 7px;
    color: white;
}


.call {
    text-align: left;
    padding: 35px;
}

.call p, .call h4 {
    padding: 0;
    margin: 0;
}

button {
    border-radius: 7px;
    background-color: #3882F6;
    color: white;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-color: white;
}


footer {
    background-color: #1F2937;
    padding: 20px;
    color: white;
}